@font-face {
    font-family: myFont;
    src: url(../sign-up-forms/resources/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: rgb(151, 178, 194);
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.left-section {
    position: relative;
    width: 40%;
    height: 100vh;
}

.cover-img {
    width: 100%;
    height: 100%;
}

.cover-title {
    position: absolute;
    top: 28%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgba(5, 20, 57, 0.5);
    box-sizing: border-box;
    padding: 10px 20px;

}

.cover-logo {
    width: 10vh;
    height: 10vh;
}

.cover-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    text-align: center;
    color: rgb(9, 18, 94);
    box-sizing: border-box;
}


.cover-footer a {
    color: rgb(9, 18, 94);
}

h1 {
    font-family: myFont;
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.right-section {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: rgb(151, 178, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 80vh;
    padding: 40px 0 0 40px;
    gap: 20px;
}

.description {
    font-size: 20px;
    height: 25vh;
    width: 75vh;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.disclaimer {
    font-size: 12px;
    color: rgb(144, 62, 15);
}

.form-container {
    height: 40vh;
    width: 90vh;
    background-color: rgb(5, 20, 57);
    border: 2px solid rgb(2, 15, 47);
    border-radius: 5px;
}

.form-container p {
    margin: 5px 0 10px 10px;
}

.form-inputs {
    border-bottom: 2px solid rgba(181, 205, 230, 0.619);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    border-radius: 5px;
    border-color: rgb(181, 205, 230);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    border-color: rgb(49, 137, 189);
    box-shadow: 0 0 5px rgba(181, 205, 230, 0.619);
}

input:invalid {
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

input:invalid:not(:focus) {
    border-color: rgb(49, 137, 189);
}

input:valid {
    border-color: rgb(49, 137, 189);
}

.form-row {
    display: flex;
    gap: 0.2rem;
    margin-bottom: 1.5rem;
    margin-left: 10px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group input {
    width: 60%;
}

.button-row {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    margin-left: 10px;
}

.button-row button {
    width: 164px;
    height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(101, 162, 198);
    border-radius: 5px;
    color: aliceblue;
}

.button-row button:active {
    background-color: rgb(49, 137, 189);
}

.login-link {
    height: 5vh;
    width: 55vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-link a {
    text-decoration: none;
    color: rgb(5, 20, 57);
}