@font-face {
    font-family: Norse-Bold;
    src: url(../sign-up-forms/resource/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cover {
    position: relative;
    width: 40%;
    height: 100vh;
    border: 2px solid red;
}

.cover-img {
    width: 100%;
    height: 100%;
}

.logo-text {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 10px 20px;

}

.logo {
    width: 48px;
    height: auto;
}

.footer {
    border: 2px solid yellow;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    text-align: center;
    color: white;
    box-sizing: border-box;
}


.footer a {
    color: white;
}

h1 {
    font-family: Norse-Bold, sans-serif;
    color: red;
}

.main {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    padding: 40px; /* dont like this */
    gap: 20px;
}

.intro {
    border: 2px solid black;
}

.form-container {
    border: 2px solid red;
}

.login-link {
    border: 2px solid orange;
}