@font-face {
    font-family: Norse-Bold;
    src: url(../sign-up-forms/resource/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.cover {
    position: relative;
    width: 40%;
    height: 100vh;
    border: 2px solid red;
}

.cover-img {
    width: 100%;
    height: 100%;
}

.logo-text {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 10px 20px;

}

.logo {
    width: 48px;
    height: auto;
}

.footer {
    border: 2px solid yellow;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    text-align: center;
    color: white;
    box-sizing: border-box;
}


.footer a {
    color: white;
}

h1 {
    font-family: Norse-Bold, sans-serif;
    color: red;
}

.main {
    margin: 0 0 0 10px;
}

.right-section {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vh;
    padding: 40px 0 0 40px;
    gap: 20px;
}

.description {
    border: 2px solid black;
    height: 20vh;
    width: 60vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
}

.form-container {
    border: 2px solid red;
    height: 40vh;
    width: 75vh;
}

.form-container p {
    margin-bottom: 10px;
}

.form-inputs {
    border-bottom: 2px solid blue;
}

.form-row {
    display: flex;
    gap: 0.2rem;
    margin-bottom: 1.5rem;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group input {
    width: 60%;
}

.button-row {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.button-row button {
    width: 164px;
    height: 35px;
}

.login-link {
    border: 2px solid orange;
    height: 5vh;
    width: 55vh;
}